@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
}

/* @theme {
  --color-primary: '#001E62';
  --color-white: '#ffffff';
  --color-red: '#FF2E2E';
  
  --color-icon-bg: '#FF5C5C'
} */

.px-custom {
  @apply px-3 lg:px-5 md:px-[2.75rem];
}